bidict==0.23.1
breeze_connect==1.0.63
certifi==2025.6.15
charset-normalizer==3.4.2
greenlet==3.2.3
h11==0.16.0
idna==3.10
numpy==2.3.1
pandas==2.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2025.2
requests==2.32.4
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.41
ta-lib==0.6.4
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.8.0
wsproto==1.2.0
